.padding {
  padding: 1rem;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.mt10 {
  margin-top: 10px;
}
.red {
  color: red;
}
.white {
  color: #fff;
}
@font-face {
  font-family: 'SummaryNum';
  src: url('../font/summarynumfont.eot');
  src: url('../font/summarynumfont.woff') format('woff'), url('../font/summarynumfont.ttf') format('truetype'), url('../font/summarynumfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.f18 {
  font-size: 18px;
}
.el-submenu__title i {
  color: white!important;
}
.el-menu-item {
  border-radius: 50px 0 0 50px;
}
.el-menu-item i {
  color: white!important;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
