// element ui
.el-submenu__title {
  i {
    color: white!important;
  }
}

.el-menu-item {
  i {
    color: white!important;
  }
}
.el-menu-item.is-active {
  background-color: darken(#5699EB,5%)!important;
  border-radius: 50px 0 0 50px;
}